<div class="notification is-info is-light" *ngIf="added">Expense added</div>
<div class="notification is-info is-light" *ngIf="edited">Expense edited</div>
<div class="columns is-mobile">
  <div class="column is-half">
    <h1 class="is-size-4">Expenses list</h1>
  </div>
  <div class="column is-half has-text-right">
    <a routerLink="/add" class="button is-small is-outlined is-primary">
      Add new
    </a>
  </div>
</div>
<app-expense-card
  *ngFor="let expense of expenses"
  [expense]="expense"
  (deleteExpenseEvent)="deleteExpense($event)"
></app-expense-card>
<p class="has-text-centered" *ngIf="!expenses">There are no expenses registered. <a routerLink="/add" class="has-text-primary">Add a new one</a></p>
